/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* line 19, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
h1.underline, h4.underline {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 21px; }

@media (max-width: 767px) {
  /* line 28, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .text_center-mobile {
    text-align: center; } }

/* line 34, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.btn-lg-home {
  padding: 20px 40px;
  font-size: 15px; }

/* line 39, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.btn-info-home {
  color: #fff;
  border-color: #fff;
  background: transparent; }
  /* line 44, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .btn-info-home:hover {
    color: #000;
    border-color: #000;
    background: #fff; }
  /* line 49, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .btn-info-home:active {
    color: #000;
    border-color: #000;
    background: #fff; }
  /* line 54, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .btn-info-home:focus {
    color: #000;
    border-color: #000;
    background: #fff; }

/* line 67, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.breadcrumb > li a, .breadcrumb > li a:hover {
  text-decoration: none;
  color: #666666; }

/* line 85, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 0px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center; }

/* line 96, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.pagination > li:first-child > a:hover,
.pagination > li:first-child > span:hover {
  background: none; }

/* line 103, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.pagination > li:last-child > a:hover,
.pagination > li:last-child > span:hover {
  background: none; }

/* line 112, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: transparent;
  border-color: transparent; }

/* line 122, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  border-color: transparent;
  border-radius: 50%; }

/* line 132, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top {
  border-width: 0; }

/* line 136, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top {
  border-width: 0;
  margin-bottom: 0; }

/* line 140, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-default {
  border-color: transparent; }

/* line 144, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.homelink, a.homelink:hover, a.homelink:focus {
  color: #fff;
  text-decoration: none; }

/* line 149, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.register-bar {
  clear: both; }

/* line 153, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top.navbar {
  min-height: 67px; }
  /* line 156, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-fixed-top.navbar .navbar-collapse {
    max-height: 510px;
    box-shadow: none;
    border-top: none;
    padding-top: 8px; }
  /* line 163, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-fixed-top.navbar .navbar-form {
    border: none;
    margin-left: 0;
    margin-right: 0; }
    /* line 168, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .navbar-fixed-top.navbar .navbar-form .form-control {
      font-size: 1em; }

/* line 175, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top.navbar .navbar-collapse {
  max-height: 510px;
  box-shadow: none;
  border-top: none; }

/* line 181, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top.navbar .navbar-form {
  border: none;
  margin-left: 0;
  margin-right: 0; }
  /* line 186, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-static-top.navbar .navbar-form .form-control {
    font-size: 1em; }

@media (min-width: 992px) {
  /* line 191, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .fix-navbar .register-bar {
    display: none; } }

/* line 197, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top.navbar > .container > .row > div {
  float: none !important;
  display: inline-block;
  vertical-align: bottom; }

/* line 202, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top.navbar > .container > .row > div {
  float: none !important;
  display: inline-block;
  vertical-align: bottom; }

/* line 211, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top.navbar .menu-bar > .navbar-nav > li > a {
  font-family: "Segoe UI Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold; }

/* line 218, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top.navbar .menu-bar > .navbar-nav > .divider-vertical {
  height: 21px;
  margin: 0 4px;
  margin-top: 14.5px;
  border-right: 1px solid #fff;
  border-left: 1px solid #666; }

/* line 230, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a {
  font-size: 1em;
  font-weight: bold; }

/* line 237, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top.navbar .menu-bar > .navbar-nav > .divider-vertical {
  height: 21px;
  margin: 0 4px;
  margin-top: 14.5px;
  border-right: 1px solid #fff;
  border-left: 1px solid #666; }

/* line 247, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top .navbar-brand {
  font-size: 2.11em;
  font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232222;
  position: relative; }
  @media (max-width: 1200px) {
    /* line 247, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .navbar-fixed-top .navbar-brand {
      position: initial;
      height: 42px; } }

/* line 259, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top .navbar-header {
  padding-top: 8px; }

/* line 264, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top .navbar-brand {
  font-size: 2.11em;
  font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232222;
  position: relative; }
  @media (max-width: 1200px) {
    /* line 264, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .navbar-static-top .navbar-brand {
      position: initial;
      height: 42px; } }

/* line 284, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-fixed-top.navbar-inverse {
  border-color: transparent; }
  /* line 288, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-fixed-top.navbar-inverse .navbar-brand {
    color: #fff; }
  /* line 291, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-fixed-top.navbar-inverse .divider-vertical {
    border-right-color: #fff;
    border-left-color: #111; }

/* line 296, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-static-top.navbar-inverse {
  border-color: transparent; }
  /* line 300, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-static-top.navbar-inverse .navbar-brand {
    color: #fff; }
  /* line 304, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-static-top.navbar-inverse .divider-vertical {
    border-right-color: #fff;
    border-left-color: #111; }

/* line 311, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff; }
  /* line 314, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #666666; }
  /* line 320, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;}

@media (max-width: 1199px) {
  /* line 331, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #666666; } }

/* line 342, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.menu-bar .shopping_link {
  position: relative; }
  /* line 345, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .menu-bar .shopping_link .cart_amount {
    border-radius: 100%;
    height: 17px;
    width: 17px;
    position: absolute;
    bottom: 6px;
    right: -6px;
    background-color: #2f5fef;
    text-align: -webkit-center;
    line-height: 17px;
    font-size: 9px;
    padding-left: 1.9px;
    color: #fff; }
    /* line 359, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .menu-bar .shopping_link .cart_amount:hover {
      color: #fff; }

@media (max-width: 1199px) {
  /* line 367, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-fixed-top .navbar-collapse .nav > .divider-vertical {
    display: none; } }

@media (max-width: 1199px) {
  /* line 372, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-static-top .navbar-collapse .nav > .divider-vertical {
    display: none; } }

@media (max-width: 767px) {
  /* line 377, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-fixed-top.navbar > .container > .row > div {
    display: block; }
  /* line 381, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-header {
    position: relative; } }

@media (max-width: 767px) {
  /* line 386, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-static-top.navbar > .container > .row > div {
    display: block; }
  /* line 390, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-header {
    position: relative; } }

/* line 397, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.panel {
  -webkit-box-shadow: 0 0px 0px transparent;
  box-shadow: 0 0px 0px transparent; }

/* line 404, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.panel-group {
  margin-bottom: 21px; }
  /* line 407, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .panel-group.border-bottom {
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 84px; }
  /* line 412, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .panel-group .panel {
    border-radius: 0px;
    border: none;
    box-shadow: none; }
    /* line 417, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .panel-group .panel + .panel {
      margin-top: 5px; }
  /* line 422, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .panel-group .panel-heading {
    border-bottom: 0; }
    /* line 426, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .panel-group .panel-heading .panel-title a {
      text-decoration: none; }
      /* line 429, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .panel-group .panel-heading .panel-title a:hover {
        color: #2f5fef; }
      /* line 433, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .panel-group .panel-heading .panel-title a:before {
        content: ' ';
        background-repeat: no-repeat;
        display: inline-block;
        width: 22px;
        height: 12px;
        background-position: -92px -5px;
        margin-right: 10.5px; }
      /* line 444, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .panel-group .panel-heading .panel-title a.collapsed:before {
        background-position: -5px -126px; }
    /* line 452, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .panel-group .panel-heading + .panel-collapse > .panel-body,
    .panel-group .panel-heading + .panel-collapse > .list-group {
      border-top: none; }
  /* line 457, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .panel-group .panel-footer {
    border-top: 0; }
    /* line 460, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .panel-group .panel-footer + .panel-collapse .panel-body {
      border-bottom: none; }
  /* line 465, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .panel-group .panel-default {
    border-color: none; }
    /* line 6, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/mixins/panels.scss */
    .panel-group .panel-default > .panel-heading {
      color: #333333;
      background-color: transparent;
      border-color: none; }
      /* line 11, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/mixins/panels.scss */
      .panel-group .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: none; }
      /* line 14, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/mixins/panels.scss */
      .panel-group .panel-default > .panel-heading .badge {
        color: transparent;
        background-color: #333333; }
    /* line 20, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/mixins/panels.scss */
    .panel-group .panel-default > .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: none; }

/* line 473, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
body {
  padding-top: 0px; }
  @media (max-width: 767px) {
    /* line 473, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    body {
      padding-top: 0px; } }

/* line 482, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.layer_down {
  height: 50px;
  background: url("layer_down.png") no-repeat bottom center;
  position: absolute;
  bottom: 0;
  z-index: 900;
  width: 100%; }

/* line 491, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.layer_up {
  height: 40px;
  background: url("layer_up.png") no-repeat bottom center;
  position: relative;
  z-index: 20; }

/* line 498, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.section-margin {
  margin: 21px 0; }

/* line 502, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.color-inverse {
  color: #fff; }
  /* line 505, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .color-inverse h1, .color-inverse h2, .color-inverse h3 {
    color: #fff; }

/* line 513, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.section-inline-search {
  background: url("helpdesk.png") no-repeat;
  background-size: cover; }
  /* line 518, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .section-inline-search .row > div {
    margin-top: 100px; }
    /* line 521, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .section-inline-search .row > div h1 {
      color: #fff; }
      @media screen and (max-width: 600px) {
        /* line 521, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
        .section-inline-search .row > div h1 {
          font-size: 16vw; } }
    /* line 531, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .section-inline-search .row > div .form-inline .form-group .input-group {
      margin-right: 21px; }
      /* line 534, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .section-inline-search .row > div .form-inline .form-group .input-group .input-group-addon {
        background-color: #fff;
        border-right: none; }
      /* line 539, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .section-inline-search .row > div .form-inline .form-group .input-group .form-control {
        height: 60px;
        border-left: none;
        box-shadow: none; }
        /* line 544, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
        .section-inline-search .row > div .form-inline .form-group .input-group .form-control:focus {
          box-shadow: none;
          border-right: none;
          border-color: #ccc; }

/* line 557, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out; }

/* line 567, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.wrapper .contained {
  position: relative;
  height: 400px;
  padding-bottom: 56.25%; }

/* line 573, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.wrapper .contained > svg {
  margin-top: -100px;
  position: absolute;
  display: block; }

/* line 579, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.contained .row {
  margin-top: 80px; }

/* line 583, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
footer {
  position: relative;
  color: #AAAAAA; }
  /* line 587, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  footer .footer-top {
    width: 100%;
    min-height: 130px;
    background-color: #232222;
    display: flex;
    align-items: center; }
    /* line 594, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    footer .footer-top h3, footer .footer-top h4 {
      color: #fff; }
    /* line 598, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    footer .footer-top .list-social-links {
      margin-top: 25px;
      margin-bottom: 12.5px; }
    @media screen and (max-width: 991px) {
      /* line 605, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      footer .footer-top h3,
      footer .footer-top .list-social-links {
        text-align: center; } }
  /* line 611, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  footer .footer-bottom {
    width: 100%;
    min-height: 36px;
    background-color: #000;
    font-size: 12px;
    display: flex;
    align-items: center; }
    /* line 619, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    footer .footer-bottom p {
      margin: 0; }
    /* line 623, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    footer .footer-bottom h4 {
      margin-top: 0;
      color: #fff; }
    /* line 628, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    footer .footer-bottom ul {
      list-style-type: none;
      margin: 0; }
      /* line 638, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      footer .footer-bottom ul li a,
      footer .footer-bottom ul li a:hover,
      footer .footer-bottom ul li a:focus,
      footer .footer-bottom ul li a:active,
      footer .footer-bottom ul li a.active {
        font-size: 15px;
        color: #fff; }

/* line 648, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.list-social-links {
  list-style-type: none;
  padding-left: 0; }
  /* line 652, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .list-social-links li {
    display: inline-block;
    margin: 0 10px; }
    /* line 661, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .list-social-links li a,
    .list-social-links li a:hover,
    .list-social-links li a:focus,
    .list-social-links li a:active,
    .list-social-links li a.active {
      color: #fff; }

@media screen and (max-width: 993px) {
  /* line 669, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .section-landing h1 {
    font-size: 65px; }
  /* line 673, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .section-landing h2 {
    letter-spacing: normal;
    margin-left: -3px; } }

/* line 679, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.user-icon {
  width: 16px;
  height: 16px;
  background-image: url("register_icon.png");
  display: inline-block;
  margin-right: 7px; }

/* line 687, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.article-title-container {
  border-top: solid 1px #bcbcbc;
  border-bottom: solid 1px #bcbcbc;
  padding-left: 15px;
  padding-top: 28px;
  padding-bottom: 28px; }

/* line 695, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.article-title {
  margin-left: -35px; }
  /* line 698, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .article-title > span {
    margin-left: 3px; }
    /* line 701, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .article-title > span .article-author {
      font-weight: bold;
      color: #2f5fef; }

/* line 708, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.article-content {
  margin-top: 15px; }
  /* line 711, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .article-content > p {
    text-align: justify; }

@media screen and (max-width: 993px) {
  /* line 717, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .article-title {
    margin-left: 0;
    text-align: center; }
  /* line 722, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .article-author {
    text-align: center; } }

/* line 728, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.section-search .header-search {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-color: #eeeeee; }
  /* line 734, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .section-search .header-search img {
    max-width: 350px; }
  @media screen and (max-width: 600px) {
    /* line 738, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .section-search .header-search h1 {
      font-size: 13vw; } }

/* line 745, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.section-search .title-search {
  font-size: 26px;
  font-weight: bold; }

/* line 750, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.section-search input {
  border-style: none;
  padding-left: 10px;
  height: 60px; }

/* line 758, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.section-search .media .media-left > img {
  max-width: 240px; }

/* line 763, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.section-search .media .media-body {
  padding-left: 20px; }
  /* line 766, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .section-search .media .media-body > a {
    text-decoration: none;
    font-weight: bold; }
  /* line 771, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .section-search .media .media-body .media-heading {
    margin-top: 5px;
    margin-bottom: 20px; }

/* line 780, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.cards-container {
  margin-top: 84px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 991px) {
    /* line 780, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .cards-container {
      flex-direction: column; } }

/* line 795, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.carousel-custom .carousel-inner > .item {
  margin-right: auto;
  margin-left: auto; }
  /* line 799, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .carousel-custom .carousel-inner > .item .carousel-caption {
    display: flex;
    align-items: center;
    top: 5%;
    left: 5%;
    right: 5%; }
    @media screen and (min-width: 768px) {
      /* line 799, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .carousel-custom .carousel-inner > .item .carousel-caption {
        left: 5%;
        right: 5%; } }

/* line 815, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.carousel-custom .carousel-indicators li {
  border-color: #232222; }

/* line 824, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.table.table-forms td {
  padding: 15px 8px; }

/* line 830, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.table.table-forms tbody tr:first-child td {
  border-top: none; }

/* line 839, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.poll {
  background-color: #eeeeee;
  border-top: 7px solid #0b80d0;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }
  /* line 846, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .poll .poll-header {
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 5px; }
    /* line 856, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .poll .poll-header h4 {
      font-weight: bold;
      display: inline-block; }
  /* line 862, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .poll .poll-content {
    padding-top: 25px; }
    /* line 865, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .poll .poll-content p {
      font-size: 14px; }
    /* line 869, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .poll .poll-content form {
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 10px; }
    /* line 874, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .poll .poll-content .poll-buttons {
      padding-top: 20px;
      padding-left: 11px; }
      /* line 878, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .poll .poll-content .poll-buttons .btn {
        padding: 4px 14px;
        font-size: 14px; }
      /* line 883, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
      .poll .poll-content .poll-buttons .btn-default {
        color: #000;
        border-color: #000; }
        /* line 887, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
        .poll .poll-content .poll-buttons .btn-default:hover {
          color: #000;
          border-color: #000; }
  /* line 895, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .poll .poll-tags {
    padding-top: 10px; }
    /* line 898, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .poll .poll-tags h4 {
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 10px; }
    /* line 903, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .poll .poll-tags .tag {
      display: inline-block;
      background-color: #e1e1e1;
      color: #232222;
      padding: 5px 14px;
      margin: 5px 0px;
      text-transform: uppercase;
      font-size: 13px; }

/* line 915, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.nav-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }
  /* line 922, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav > li > a {
    padding: 4px 20px;
    color: #2f5fef;
    border-right: 2px solid #eeeeee; }
    /* line 928, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .nav-sidebar .nav > li > a:hover,
    .nav-sidebar .nav > li > a:focus {
      color: #232222;
      text-decoration: none;
      background-color: transparent;
      border-right: 2px solid #555555; }
    /* line 935, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .nav-sidebar .nav > li > a:before {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e250";
      margin-right: 7px; }
  /* line 952, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav > .active > a {
    color: #232222;
    text-decoration: none;
    background-color: transparent;
    border-right: 2px solid #555555;
    font-weight: bold; }
    /* line 959, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .nav-sidebar .nav > .active > a:before {
      content: "\e252"; }
  /* line 966, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav > .active:hover > a,
  .nav-sidebar .nav > .activefocus > a {
    font-weight: bold; }
  /* line 972, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav > .active > ul.nav {
    display: block; }
  /* line 979, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav ul.nav {
    display: none; }
  /* line 986, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px; }
  /* line 996, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav .nav > .active,
  .nav-sidebar .nav .nav > .active:hover,
  .nav-sidebar .nav .nav > .active:focus {
    font-weight: bold; }
  /* line 1003, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 60px; }
    /* line 1008, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    .nav-sidebar .nav .nav .nav > li > a:before {
      content: ""; }
  /* line 1017, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .nav-sidebar .nav .nav .nav > .active,
  .nav-sidebar .nav .nav .nav > .active:hover,
  .nav-sidebar .nav .nav .nav > .active:focus {
    font-weight: bold; }

/* line 1028, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */

/* line 1032, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
#navbar .dropdown-search {
  padding-top: 0;
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 9px; }
  /* line 1039, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  #navbar .dropdown-search #q {
    min-width: 200px; }
  @media (max-width: 1199px) {
    /* line 1044, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    #navbar .dropdown-search .input-group-btn {
      vertical-align: top; }
    /* line 1047, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    #navbar .dropdown-search #search-filter {
      width: 100%;
      text-align: left;
      padding-left: 25px; }
    /* line 1052, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
    #navbar .dropdown-search.dropdown-menu > li:hover, #navbar .dropdown-search .dropdown-menu > li:hover {
      color: white;
      background-color: transparent; } }

/* line 1060, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.tabs-header {
  padding-bottom: 9.5px;
  margin: 42px 0 21px; }

/* line 1073, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
.help-block.error,
label.control-label.required:before,
.crmEntityFormView .cell div.info.required label:after,
.crmEntityFormView .cell div.info div.validators,
.crmEntityFormView .validator-text,
.crmEntityFormView .rank-order-cell .validator-text,
.crmEntityFormView .constant-sum-cell .validator-text,
.crmEntityFormView .stack-rank-cell .validator-text {
  color: #a94442; }

@media screen and (-ms-high-contrast: active) {
  /* line 1078, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888; }
  /* line 1082, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/theme/bootstrap/theme.scss */
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff; } }

/* line 13, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.no-lr-margins {
  margin-left: 0;
  margin-right: 0; }

/* line 20, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.btn-default-black {
  color: black;
  border-color: black; }
  /* line 24, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .btn-default-black:hover {
    color: black;
    border-color: black;
    background: #2f5fef; }

/* line 33, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.blue_border {
  padding-bottom: 10px;
  border-bottom: 7px solid #0b80d0; }

/* line 38, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.page_section {
  position: relative;
  background-size: cover;
  color: #000; }
  /* line 43, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section .row {
    padding-top: 25px;
    padding-bottom: 100px; }
  /* line 48, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section .row.sidebar-home {
    padding-bottom: 0; }
  /* line 52, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section h1 {
    font-size: 71px; }
  /* line 56, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section h2 {
    color: #666666;
    font-size: 40px; }
  /* line 61, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section h3 {
    font-size: 66px;
    font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 66, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section p {
    border-top: solid #666666 1px;
    padding-top: 5px; }
  /* line 71, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section .btn {
    margin-top: 50px; }
  /* line 75, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section .form-search .btn {
    margin-top: 0; }
  /* line 81, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .page_section .section-landing-heading p,
  .page_section .section-landing-sub-heading p {
    border-top: 0; }

/* line 88, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.form-search .btn {
  border: 1px solid #ccc; }

/* line 91, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.form-search .btn-default:hover {
  border-color: #ccc; }

/* line 95, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.form-search .dropdown-submenu {
  right: -2px; }

/* line 99, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.form-search .dropdown-menu {
  margin-top: 0px; }

/* line 104, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.dropdown-search.dropdown-menu > li:hover {
  background-color: transparent; }

/* line 108, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
#navbar .form-search .dropdown-menu {
  margin-top: 0px; }

/* line 112, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-diagonal-left {
  -webkit-transform: skew(0deg, -1.3deg);
  -ms-transform: skew(0deg, -1.3deg);
  transform: skew(0deg, -1.3deg);
  overflow: hidden;
  margin-top: -60px;
  margin-bottom: -20px; }
  /* line 120, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .section-diagonal-left .section-diagonal-left-content {
    -webkit-transform: skew(0deg, 1.3deg);
    -ms-transform: skew(0deg, 1.3deg);
    transform: skew(0deg, 1.3deg);
    background: url("homethumbnail2.jpg") no-repeat 0 20%;
    background-size: cover;
    margin-top: -70px; }
    /* line 128, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
    .section-diagonal-left .section-diagonal-left-content:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .2;
      z-index: -1;
      background-color: #fff; }

/* line 142, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-diagonal-right {
  -webkit-transform: skew(0deg, 1.3deg);
  -ms-transform: skew(0deg, 1.3deg);
  transform: skew(0deg, 1.3deg);
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: -20px; }
  /* line 150, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .section-diagonal-right.home-section {
    margin-top: -60px; }
  /* line 154, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .section-diagonal-right .section-diagonal-right-content {
    -webkit-transform: skew(0deg, -1.3deg);
    -ms-transform: skew(0deg, -1.3deg);
    transform: skew(0deg, -1.3deg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("homethumbnail4.jpg") no-repeat;
    background-size: cover;
    margin-top: -70px; }
    /* line 162, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
    .section-diagonal-right .section-diagonal-right-content:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
      z-index: -1;
      background-color: #2f5fef; }

/* line 178, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-diagonal-left .row,
.section-diagonal-right .row {
  padding-top: 125px; }

/* line 182, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-diagonal-left .col-md-5,
.section-diagonal-right .col-md-5 {
  float: none;
  margin: 0 auto; }

/* line 187, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-diagonal-left p,
.section-diagonal-right p {
  border-top: none; }

/* line 193, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-landing {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("homehero.jpg") no-repeat center;
  background-size: cover; }
  /* line 198, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .section-landing .row > div {
    margin-top: 80px; }
    /* line 201, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
    .section-landing .row > div .section-landing-heading {
      font-size: 8rem;
      color: #fff;
      text-transform: uppercase; }
      @media screen and (max-width: 600px) {
        /* line 201, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
        .section-landing .row > div .section-landing-heading {
          font-size: 16vw; } }
    /* line 211, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
    .section-landing .row > div .section-landing-sub-heading {
      margin-top: 0;
      margin-bottom: 50px;
      font-size: 4.3rem;
      color: #fff;
      letter-spacing: 19px;
      text-transform: uppercase; }
      @media screen and (max-width: 600px) {
        /* line 211, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
        .section-landing .row > div .section-landing-sub-heading {
          font-size: 4vw; } }

/* line 227, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-sub-landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #07aaf6), url("homethumbnail1.jpg") no-repeat center;
  background-size: cover; }

/* line 232, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-default {
  background: url("homethumbnail3.jpg") no-repeat center;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    /* line 237, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
    .section-default:before {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.59) 41%, rgba(0, 0, 0, 0.62) 43%, black 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.59) 41%, rgba(0, 0, 0, 0.62) 43%, black 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.59) 41%, rgba(0, 0, 0, 0.62) 43%, black 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ } }
  /* line 252, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .section-default .row {
    padding-bottom: 150px; }

/* line 259, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-knowledge {
  margin-bottom: 40px; }

/* line 264, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home .btn {
  margin-top: 0; }

/* line 268, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home .panel {
  background-color: transparent;
  border: 0;
  box-shadow: none; }
  /* line 273, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .content-home .panel p {
    border: 0; }

/* line 278, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home .panel-heading {
  display: none; }

/* line 282, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home .list-group-item {
  padding: 20px 0;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #ddd; }
  /* line 289, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .content-home .list-group-item img {
    margin-right: 25px; }

/* line 295, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home a.list-group-item,
.content-home .list-group-item a.title {
  color: #232222; }
  /* line 299, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .content-home a.list-group-item:hover,
  .content-home a.list-group-item:focus,
  .content-home .list-group-item a.title:hover,
  .content-home .list-group-item a.title:focus {
    color: #232222;
    text-decoration: underline;
    background-color: transparent; }

/* line 307, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home .title,
.content-home .description {
  display: block; }

/* line 311, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home .title {
  font-size: 24px;
  font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 316, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.content-home .description {
  display: block;
  font-size: 14px; }

/* line 322, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.sidebar-home {
  background-color: #eeeeee;
  border-top: 7px solid #0b80d0;
  margin-top: 36px;
  position: relative; }
  /* line 328, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .sidebar-home h3 {
    font-size: 18px; }
  /* line 332, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .sidebar-home .panel {
    background-color: transparent;
    border: 0;
    box-shadow: none; }
  /* line 338, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .sidebar-home .panel-heading {
    padding-left: 0;
    background-color: transparent;
    border: 0; }
  /* line 344, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .sidebar-home .panel-title {
    font-size: 14px;
    color: #2f5fef;
    font-family: "Segoe UI Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 350, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
  .sidebar-home .list-group-item {
    padding-left: 0;
    font-size: 14px;
    background-color: transparent;
    border: 0; }
    /* line 357, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
    .sidebar-home .list-group-item:hover,
    .sidebar-home .list-group-item:focus {
      text-decoration: underline;
      background-color: transparent; }
    /* line 362, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
    .sidebar-home .list-group-item .date {
      visibility: hidden; }

/* line 368, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-landing-search {
  min-height: 250px;
  background: url(searchhero.jpg) no-repeat 0 25%;
  background-size: cover; }

/* line 374, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-landing-forums {
  min-height: 250px;
  background: url(forumhero.jpg) no-repeat center;
  background-size: cover; }

/* line 380, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.table.forums th:first-child, .table.forums tr td:first-child {
  padding-left: 0px; }

/* line 390, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-knowledge .list-group a.list-group-item {
  color: #2f5fef; }

/* line 393, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.section-knowledge .panel-title {
  color: #000; }

/* line 398, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.page_section.section-landing .row {
  padding-bottom: 60px; }

/* line 401, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.page_section.section-landing .row > div {
  margin-top: 0px; }

/* line 404, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.list-group-item p {
  margin-bottom: 0px; }

/* line 408, G:/Agents/BA5135/_wap/17/s/Resources/Theme/ElectricBlueDesign/customer/theme.scss */
.page_section.section-sub-landing .row .btn-lg-home p {
  border-top: none; }



/*****

MILESTONE-BELANOVA UPDATES

******/


@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue.eot');
    src: url('BebasNeue.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue.woff2') format('woff2'),
        url('BebasNeue.woff') format('woff'),
        url('BebasNeue.ttf') format('truetype'),
        url('BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('Futura.eot?#iefix') format('embedded-opentype'),
      url('Futura.woff2') format('woff2'),
      url('Futura.woff') format('woff'),
      url('Futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
   height: 100%;
}
* {
  box-sizing: border-box;
}

.h1, .h2, .h3, .h6, h1, h2, h3, h6 {
    font-family: "Bebas Neue", Arial, Helvetica Neue, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1em;
    font-weight: 600;
    color: #00aeef;
}

 .h1, .h2, .h3, .h6, h1, h2, h3, h6 {
       /* font-family: Bebas Neue;*/
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1em;
        font-weight: 100;
        color:#00aeef;
    }


.h1, h1{
  font-size: 30px;
}

.h2, h2{
  font-size: 24px;
  color: #16416e;
}

.h3, h3{
  font-size: 1.75rem;
  font-weight: 100;
}

body{
   position: relative;
   min-height: 100%;
   box-sizing: border-box;
    background: #f4f5f7;
}


.row .column {
  font-weight: bold;
  margin-bottom: 5%;
}

.row {
  margin-left: 5%;
   margin-right: 5%;
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pt-10{
  padding-top: 10%;
}

.pt-5{
  padding-top: 5%;
}

.bg-grey{
  background: #f4f5f7;
}

.bg-white{
  background: #ffffff;
}

/* ================================
  # Footer styles
================================= */



.address {
    font-size: 14px;
    font-size: 1.4rem;
}

.address strong {
    font-weight: 700;
    display: block;
}

.address span.footer-form {
    color: #0079c2;
}

.address a {
    font-size: 19px;
    font-size: 1.9rem;
    font-weight: 600;
    display: block;
    padding-bottom: 20px;
    padding-bottom: 2rem;
}

.address a:hover {
      text-decoration: underline;
  }

.address span {
  display: block;
  margin-top: 5px;
  margin-top: 0.5rem;
}

.address .address-disclaimer {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
}

.ct-select .selectize-input {
    line-height: .7;
}

.ct-footer {
   /* background-image: linear-gradient(to right, #05518b, #01acec, #05518b); */
    color: #aeaeae;
    font-size: 12px;
   position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0.5% 0 ;
}


.ct-footer-header {
    font-family: 'Open Sans Condensed', sans-serif;
}

.ct-footer p {
    font-size: 14px;
    color: #fff;
}

.ct-footer-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;

}

.ct-footer-list li a {
    font-size: 14px;
    font-size: 1.4rem;
    color: #fff;
}

    .ct-footer-list li a:hover {
        text-decoration: underline;
    }

.ct-footer-list li + li {
    margin-top: 5px;
    margin-top: 0.5rem;
}

.ct-footer .ct-post_footer {
    color: #fff;
    padding: 20px 0;
    padding: 2rem 0;
    font-family: 'Arial';
    font-size: 13px;
    font-size: 1.3rem;
}

.ct-footer .ct-post_footer ul.list-inline {
    font-size: 1.2rem;
}

.ct-footer .ct-post_footer a:hover {
    text-decoration: underline;
}

.ct-footer .ct-post_footer p {
    margin: 0;
    margin: 0;
    font-size: inherit;
}

.ct-footer .ct-post_footer ul li {
    position: relative;
}

.ct-footer .ct-post_footer ul li + li {
    padding-left: 17px;
    padding-left: 1.7rem;
    margin-left: 5px;
    margin-left: 0.5rem;
}

.ct-footer .ct-post_footer ul li + li:before {
    content: '';
    position: absolute;
    top: 20%;
    left: 0;
    height: 60%;
    width: 1px;
    width: 0.1rem;
    background: #fff;
}

address {
    font-size: 14px;
    font-size: 1.4rem;
}

address b {
    font-size: inherit;
    text-transform: uppercase;
}

address span {
    display: block;
    margin-top: 5px;
    margin-top: 0.5rem;
}




/**********
Header
*********/

.breadcrumb{
    margin-top: 10px !important;
    background-color: #fff;
    margin-bottom:10px;
}
 .container.container-wide {
        max-width: 1400px;
}

label{
  color:#004b88;
}

.p-0 {
    padding: 0 !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    justify-content: flex-end !important;
}

.ml-0, .mx-0 {
    margin-left: 0 !important;
}

.navbar-static-top.navbar-inverse{
    font-family: inherit;
}

.mr-0, .mx-0 {
    margin-right: 0 !important;
}

.active{
    color:#004b88 !important;

}

.breadcrumb > li a {
  text-transform: uppercase;
  color: #aeaeae;
  font-family: 'Futura';
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

.breadcrumb > li {
  text-transform: uppercase;
  font-family: 'Futura';
}

.breadcrumb>li+li:before {
  content: none;
}

.breadcrumb>li.seperator {
  color:#004b88 !important;
}

.breadcrumb>li.active {
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

@media (min-width: 992px) {
    .pr-lg-0, .px-lg-0 {
        padding-right: 0 !important;
    }
}

@media (min-width: 768px) {
    .mb-md-0, .my-md-0 {
        margin-bottom: 0 !important;
    }

    .navbar-static-top.navbar .menu-bar > .navbar-nav > li > a {
      position: relative;
      display: inline-block;
      left: 40px;
    }
}

@media (min-width: 768px) {
    .col-md-auto {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
}

.block-top {
    //height: 100%;
}

.border-secondary {
    border-color: #00aeef !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
}

svg {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

.cls-3 {
    fill: #004b88;
}

input#searchBar {
    border: none !important;
font-family: inherit;
margin-left: 43px;
width: 200px;
height: 55px;
font-size: 18px;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.block-top {
    height: 100%;
}

.block-top .h3 {
    font-size: 1.25rem;
}

.block-top a {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    line-height: 2.3rem;
}
.navbar-header {
  margin-right: -20%;
  margin-left: -10%;
}

.navbar-right {
    float: right !important;
}

.ml-2, .mx-2 {
    margin-left: .5rem !important;
}

.block-top svg {
    width: 2.25rem;
margin-left: 10px;
}

@media (min-width: 992px) {
    .pr-lg-0, .px-lg-0 {
        padding-right: 0 !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.block-top {
    height: 100%;
}

.border-secondary {
    border-color: #00aeef !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.xrm-attribute-value{
  color:#00aeef;
}

.pb-1, .py-1 {
  padding-bottom: .25rem !important;
}

form {
    -webkit-margin-after: 0;
    margin-block-end: 0;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@media (min-width: 992px) {
    .col-lg-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
  height: 57px;
  border-color: #2b74e2;
  border-style: solid;
  border-width: 1px;
  width: 341px;
}
.pb-1, .py-1 {
    padding-bottom: .25rem !important;
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.position-absolute {
    position: absolute !important;
}
input#searchBar {
    border: none !important;
    font-family: inherit;
}
@media (min-width: 576px) {
    .form-inline .form-control  {
        display: inline-block;
        width: auto;
        vertical-align: middle;

    }
}

form#searchFormSidebar, form input:not([type=checkbox]), form select.form-control:not([size]):not([multiple]) {
    height: 3.25rem;
}

.header {

}
/*********

Home Specific

**********/

.home-box{
  width:100%;
  margin-bottom:2%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 10%;
  text-align: center;
  background: #fff;
}

.home-box-txt{
  padding: 10% 0;
}
.home-box img{
  width:100%;
}

.home-box-link:hover{
  text-decoration: none !important;
}

.menu-icon {
  width: 25px;
  margin: 0 10px;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content:
        url('/account-hover.png')
        url('/container-hire-hover.png')
        url('/container-re-hire-hover.png')
        url('/dashboard-hover.png')
        url('/invoice-hover.png')
        url('/payment-hover.png')
        url('/receipt-hover.png')
        url('/statement-hover.png');
}

.navbar-wrapper, .navbar-collapse, .navbar > .container {
  padding: 0;
}

.navbar-wrapper {
  width: 250px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav li a {
  margin-left: 0;
}

.navbar-inverse .navbar-nav > li {
  float: none;
}

.navbar-inverse .navbar-nav > li > a {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navbar-right {
  margin-right: 0;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background: none !important;
  color: #16416e !important;
  border-bottom: none;
}

.navbar-inverse .navbar-nav > li > a:focus {
  color: #16416e !important;
  border-bottom: none;
}

.navbar-inverse .navbar-nav > li > a > .menu-icon {
  width: 25px;
  height: 25px;
  background-size: cover;
  display: inline-block;
  margin-right: 1.25rem;
}

/* Top Header */
.block-top .h3 {
  font-size: 2.25rem;
  color: #16416e;
}

li.dropdown {
  list-style-type: none;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.d-inline {
  display: inline !important;
}

/* Button */
.btn {
  white-space: nowrap;
  background: #fff;
  border-radius: 2rem;
  color: #00aeef;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 1.75rem;
  letter-spacing: 1px;
}

.btn:hover {
  color: #004b88;
}

.navbar-nav .btn {
  margin: 2rem;
}

/* Mobile Styling */
@media (max-width: 576px) {
  .home-box {
    background: #48484a;
  }

  .home-box img {
    display: none;
  }

  .home-box-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    display: inline-block;
  }

  .home-box {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }

  .account-icon {
    background-image: url('/account.png');
  }

  .phone-icon {
    background-image: url('/phone.png');
  }

  .container-hire-icon {
    background-image: url('/container-hire.png');
  }

  .container-re-hire-icon {
    background-image: url('/container-re-hire.png');
  }

  .dashboard-icon {
    background-image: url('/dashboard.png');
  }

  .invoice-icon {
    background-image: url('/invoice.png');
  }

  .payment-icon {
    background-image: url('/payment.png');
  }

  .receipt-icon {
    background-image: url('/receipt.png');
  }

  .statement-icon {
    background-image: url('/statement.png');
  }

  .home-box-wrapper {
    padding-bottom: 50px;
  }

  .home-box-wrapper .col-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-box-wrapper h1 {
    padding-bottom: 3rem;
  }

  .home-box .h3 {
    color: #fff;
    font-size: 1.3rem;
  }

  .h1, h1 {
    font-size: 2.25rem;
  }

  .navbar-wrapper {
    width: 100%;
  }

  .navbar-header, .mx-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-inverse {
    display: flex;
  }

  .flex-1 {
    flex: 1 !important;
  }

  .w-100 {
    width: 100%;
  }

  .breadcrumb {
    text-align: right;
    background: #f4f5f7;
  }

  .navbar-toggler {
    padding-bottom: 0;
    background: initial;
    border: none;
  }

  .navbar-toggler-icon {
    font-size: 2.75rem;
    padding-top: 0.75rem;
  }

  .block-top svg {
    width: 1.75rem;
  }

  footer .footer__right-social svg {
    margin-left: auto;
    width: 35px;
    height: 35px;
  }

  small#copyright {
    font-size: 1rem;
    font-family: 'Futura';
  }

  .text-white a {
    color: #fff;
  }

  .border-white {
    border-top: 1px solid #fff;
  }

  .z-index-1 {
    z-index: -1;
  }

  .navbar-brand img {
    margin-top: -65% !important;
    height: 80px !important;
    z-index: 10;
  }

  .navbar-static-top.navbar .menu-bar > .navbar-nav > li > * {
    font-size: 1.1rem !important ;
  }

  .username, .header-phone strong {
    font-size: 1.5rem !important;
  }

  #navbar {
    width: 40% !important;
    background-image: linear-gradient(to bottom, #05518b, #01acec, #05518b);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: -2;
  }

  #navbar .navbar-right {
    width: 100%;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-inverse .navbar-nav > li > a {
    padding: 1rem 2.75rem;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }

  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #004b88;
  }

  .dropdown-menu li a {
    font-family: 'Bebas Neue', sans-serif;
  }

}
/* End Mobile Styling */

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.bg-gradient {
  background: #004c88;
  background: -webkit-gradient(linear, left top, right top, from(#004c88), color-stop(#32d6ed), to(#004c88));
  background: linear-gradient(to right, #004c88 0%, #32d6ed, #004c88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c88', endColorstr='#004c88',GradientType=1 );
}

.d-none {
  display: none !important;
}

.icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.text-white {
  color: #fff;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.h-0 {
  height: 0 !important;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.d-block {
  display: block !important;
}

@media (min-width: 768px) {
  .breadcrumb {
    padding-left: 15%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .d-md-block {
    display: block !important;
  }

  .wrap {
    background: #fff;
  }

  .navbar-brand img {
    margin-top: -14%;
    height: 100px;
  }

  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 1600px) {
  .breadcrumb {
    padding-left: 10%;
  }
}

.page-header {
  border-bottom: 0;
  padding-bottom: 0;
  margin: 20px 0 20px;
}

.navbar-inverse {
  background: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: initial !important;
  border: none !important;
}

li.divider-vertical {
  display: none !important;
}

.navbar-collapse.collapse {
  margin-top: 0 !important;
}

/*  Release v.1.5 */
.btn, .btn-primary {
  color: #fff !important;
  background-color: #00aeef !important;
}

.navbar {
  z-index: 1 !important;
}

.gradient-text {
  background-image: linear-gradient(to bottom, #05518b, #01acec, #05518b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

form#searchFormSidebar, form input:not([type=checkbox]), form select.form-control:not([size]):not([multiple]) {
  height: 3.9rem !important;
}

.dropdown-menu>li>a {
  color: #16416e !important;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.75rem;
}

/*  Release v.1.6 */

.page-content .row .col-md-6, .form-horizontal .col-sm-4, .form-horizontal .col-sm-4, .form-horizontal .col-sm-8{
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  width: 100% !important;
}

.form-horizontal .col-sm-offset-4 {
  margin-left: 0;
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a {
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 1.75rem;
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .navbar-static-top.navbar .menu-bar > .navbar-nav > li > a:before {
    content: "";
    background-size: 100%;
    position: absolute;
    left: -30px;
    height: 25px;
    width: 25px;
  }
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Portal Home"]:before {
  background-image: url('/dashboard.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Account"]:before {
  background-image: url('/account.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Company Contacts"]:before {
  background-image: url('/phone.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Containers On Hire"]:before {
  background-image: url('/container-hire.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Quotes"]:before {
  background-image: url('/receipt.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Statements"]:before {
  background-image: url('/statement.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Payments"]:before {
  background-image: url('/payment.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a[aria-label="Invoices"]:before {
  background-image: url('/invoice.png');
}

/* Hover */
.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Portal Home"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Portal Home"]::before {
  background-image: url('/dashboard-hover.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Account"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Account"]::before {
  background-image: url('/account-hover.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Company Contacts"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Company Contacts"]::before {
  background-image: url('/phone-hover.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Containers On Hire"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Containers On Hire"]::before {
  background-image: url('/container-hire-hover.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Quotes"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Quotes"]::before {
  background-image: url('/receipt-hover.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Statements"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Statements"]::before {
  background-image: url('/statement-hover.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Payments"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Payments"]::before {
  background-image: url('/payment-hover.png');
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > li:hover > a[aria-label="Invoices"]::before, .navbar-static-top.navbar .menu-bar > .navbar-nav > li.open > a[aria-label="Invoices"]::before {
  background-image: url('/invoice-hover.png');
}

.navbar-inverse .navbar-nav > li:hover {
  background-color: #fff;
}

.menu-bar {
  float: initial !important;
}

.breadcrumb {
  margin: 0 !important;
  padding: 15px;
}

/*  Release v.1.7 */
.page-heading .breadcrumb {
  display: none !important;
}

.page-header h2 {
  color:#00aeef !important;
  font-size: 30px !important;
}

.row.mx-sm-0 form {
  width: 66.66666666666666% !important;
  float: left !important;
  position: relative !important;
  min-height: 1px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.navbar-inverse .navbar-nav > li:hover, .navbar-inverse .navbar-nav > li:focus, .navbar-inverse .navbar-nav > li.open {
  background: #fff !important;
}

.navbar-inverse .navbar-nav > li:hover a, .navbar-inverse .navbar-nav > li:focus> a, .navbar-inverse .navbar-nav > li.open > a{
  color: #16416e !important;
}

.btn.pull-right {
  float: none !important;
  margin-left: 0 !important;
}

@media screen and (min-width: 768px) {
  .home-box-txt {
    font-size: 2rem !important;
  }
  .container.d-flex.flex-1 {
    max-width: 100%;
    margin-left: 280px;
  }
}

/*  Release v.1.8 */
@media screen and (min-width: 768px) {
  .container.d-flex.flex-1 .navbar-toggle {
    display: none;
  }
  .bg-md-white {
    background: #ffffff;
  }
  .bg-md-white .container {
    max-width: 100%;
    margin-left: 280px;
  }
}

@media screen and (max-width: 768px) {
  #navbar-container {
    margin-right: initial;
    margin-left: initial;
  }
}

.view-grid {
  font-family: 'Futura' !important;
}

.table th a {
    color: #16416e !important;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.75rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

thead:nth-child(1) {
  background: #fff;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

thead tr th {
  border-bottom: none !important;
}

.navbar-toggle {
  display: none;
}

.xrm-attribute-value {
  display: block !important;
}

/* Header Drop Down Menu */
.header-profile .dropdown .dropdown-toggle:after {
  background-image: url(/arrow-down-blue.png);
  right: -24px;
}

.header-profile .dropdown-menu .divider {
  background-image: linear-gradient(to right, #05518b, #01acec, #05518b);
  margin: 0.25rem 1rem 0.5rem 1rem;
}

.header-profile .dropdown-menu>li>a {
  padding: 0.3rem 1rem;
}

.header-profile {
  padding-right: 2.5rem;
}

/* Navigation Drop Down Menu */
.dropdown .dropdown-toggle:after {
  content: ' ';
  background-image: url(/arrow-down-white.png);
  background-size: contain;
  height: 15px;
  width: 15px;
  z-index: 1;
  display: inline-block;
  position: absolute;
  right: -18px;
  margin-top: 9px;
  border: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-bar li:first-child .dropdown-toggle:after {
  margin-top: 12px;
}

.navbar-inverse .navbar-nav > li:hover .dropdown-toggle:after, .navbar-inverse .navbar-nav > li.open .dropdown-toggle:after {
  background-image: url(/arrow-down-blue.png);
}

.caret {
  display: none !important;
}

.fa-home:before {
  content: "Home" !important;
  font-family: 'Bebas Neue', sans-serif !important;
  font-weight: normal;
  font-size: 1.75rem;
}

.dropdown-menu {
  width: 100% !important;
  margin-top: 0 !important;
  border-radius: 0 !important;
  border: 0;
}

@media screen and (min-width: 768px) {
  .navbar-nav .dropdown-menu>li {
    border-bottom: 1px solid #16416e;
    width: 60%;
    margin-left: 2.25rem;
  }

  .navbar-nav .dropdown-menu>li:last-child {
    border-bottom: 0;
  }

  .navbar-nav .dropdown-menu>li>a {
    padding: 1.25rem 0;
  }

  .navbar-nav .divider {
    display: none !important;
  }
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: initial !important;
  color: #16416e !important;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: initial !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: initial !important;
}

.navbar-nav li.weblink.dropdown.open {
  background: #fff !important;
}

.navbar-inverse .navbar-nav > li.open {
  color: #16416e !important;
}

/*  Release v.1.9 */

div#content-container {
  width: 66.66666666666666% !important;
  max-width: initial !important;
  margin-right: initial !important;
  margin-left: initial !important;
}

div#content-container #content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
}

@media (min-width: 1200px) {
  div#content-container #content {
      max-width: 1170px;
  }
}

.form-horizontal .control-label {
  text-align: left;
}

.row:before, .row:after {
  display: initial !important;
}

table, legend {
  font-family: 'Futura' !important;
}

.btn .btn-primary {
  padding: 10px 15px !important;
}

.btn-primary:hover {
  background-color: #16416e !important;
}

.list-group-item.active {
    background-color: #00aeef !important;
}

.list-group-item.active .xrm-attribute-value {
  color: #fff !important;
}

.list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #16416e !important;
}

.row.mx-sm-0{
  padding-bottom: 50px !important;
}

.breadcrumb {
  min-height: 50px;
}

.breadcrumb li {
  display: none !important;
}

.page-heading {
  display: none !important;
}